        #fuckgoogle{
            display: flex;
            position: fixed;
            justify-content: center;
            bottom: 0;
            left: 0;
            width: 100%;
            color: white;
            background-color: black;
        }
        #fuckgoogle *{
            margin: 0;
        }
        #options{
            position: fixed;
            right: 16px;
            display: flex;
            flex-direction: row;
        }
        #options button{
            width: fit-content;
            margin: 0;
            background-color: black;
            color: white;
            border: 0;
            height: 32px;
        }
        .selector{
            border-radius: 50%;
            border: white 1px solid;
            width: 32px;
            background-color: black;
        }
        body {
            display: flex;
            font-family: sans-serif;
            background-color: #1f1f1f;
            overflow: hidden;
        }

        #settings {
            position: absolute;
            left: -20%;
            width: 12%;
            overflow:visible;
            transition: all 0.5s ease;
        }

        #settings fieldset {
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 6px;
            background-color: black;
            color: white;
        }

        #settings * {
            margin: 0.25rem 0;
        }

        .setting-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .options-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px black solid;
        }

        #settings input {
            width: 20%;
            padding: 2px 5px;
        }

        #settings button {
            width: 100%;
        }
        #search{
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 45%;
        }
        #search input{
            width: 100%;
            border-radius: 32px;
            font-size: large;
        }
        #search input:focus{
            outline: none !important;
        }
        #search_options{
            display: flex;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 40%;
        }
        #search_options *{
            margin-top: 8px;
            height: 2%;
            width: 50%;
            border: 0;
        }
        #left{
            border-radius: 32px 0 0 32px;
        }
        #right{
            border-radius: 0 32px 32px 0;
        }
        #logo{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        @media (max-width: 768px) {
            #settings{
                display: none;
                flex-direction: column;
                width: 80%;
                left: 50%;
                transform: translateX(-55%);
                transition: all 0.5 ease;
            }
            #options{
                display: flex;
                width: 100%;
                left: 0;
                top: 0;
                margin: 0;
            }
            #options button{
                flex: 1;
            }
            #search{
                width: 80%;
            }
            #logo{
                width: 100%;
            }
        }
        @media (max-width: 1215px){
            #search_options{
                width: 100%;
            }
        }