        
        @font-face {
            font-family: Roboto;
            src: url('Assets/roboto.ttf') format('truetype');
        }
        * {
            font-family: 'Roboto', 'Courier New', Courier, monospace;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            background-color: black;
            color: white;
            display: flex;
            flex-direction: column;
        }

        header {
            display: flex;
        }

        button {
            background: #333;
            color: white;
            border: none;
            padding: 6px 10px;
            cursor: pointer;
        }

        #main {
            flex: 1;
            background-color: #1f1f1f;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }


        #searchbar {
            display: flex;
            flex-direction: column;
            width: 50vw;
            max-width: 600px;
        }

        #searchbar input {
            width: 100%;
            border-radius: 16px 16px 0 0;
            font-size: large;
            padding: 8px 12px;
            border: none;
            outline: none;
        }

        #buttons {
            display: flex;
            width: 100%;
        }

        #buttons button {
            width: 50%;
            margin: 0;
        }

        #search_btn {
            border-radius: 0 0 0 16px;
        }

        #lucky_btn {
            border-radius: 0 0 16px 0;
        }

        footer {
            text-align: center;
            padding: 10px 0;
        }
        #settings {
            position: absolute;
            left: -20%;
            width: 20%;
            overflow: visible;
            transition: all 0.5s ease;
        }

        #settings fieldset {
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 6px;
            background-color: black;
            color: white;
        }

        #settings * {
            margin: 0.25rem 0;
        }

        .setting-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .selector {
            border-radius: 50%;
            border: white 1px solid;
            width: 32px;
            background-color: black;
        }

        #settings input {
            width: 20%;
            padding: 2px 5px;
        }

        #settings button {
            width: 100%;
        }

        @media (max-width: 768px) {
            #settings {
                display: none;
                flex-direction: column;
                width: 80%;
                left: 50%;
                transform: translateX(-55%);
                transition: all 0.5 ease;
            }
        }
